.DIVERROR{
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: grey; */
    /* background-color: whitesmoke; */
    text-align: center;
}
    
.DIVERROR h1{
    color: #003946;
    font-size: 200px;
}
.DIVERROR p{
    color:#003946;
    font-size: 100px;
}

.DIVERROR button{
   background-color:#003946 ;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 17px;
    font-size: 25px;
    padding-left: 40px;
    padding-right: 40px;
    cursor: pointer;
    }